@media screen and (max-width: 994px)
	/********* NAVBAR *********/
	.dropdown .text
		display: none
	.dropdown-menu
		min-width: inherit
	.sign-links
		display: none
	.signin-link
		margin-right: 0px
	.navbar-default .navbar-nav
		margin-left: 5px
	    margin-top: 26px
	.country-nav
		display: none
	/******** MAIN CONTENT ******/
	.carousel
		margin-bottom: 20px
	.car-form label
		width: 100%
	.carousel-inner .item
		text-align: center
	.read-more
		display: block
		text-align: center
	.newsletter-form 
		flex-direction: column
		text-align: center
		*
			width: 100%
			margin: 5px 0px
	.navbar-toggle
		float: left
		border: none
		margin-top: 22px
		margin-left: 5px
		&:focus,
		&:hover
			background: transparent
		.icon-bar
			background: #434b56
			height: 4px
	.footer-tweets
		display: none
@media screen and (max-width: 460px)
	.book-form-section .container .row div:last-child
		padding: 0px
		.tab-container
			border: none
	.car-form
		.date-wrapper
			flex-direction: column
			& > div
				width: 100%
		.cartype-wrapper
			select
				width: 100px
	.tab-container .tab-pane
		padding: 10px
		min-height: 350px
	.nav.nav-tabs li a
		white-space: nowrap
		text-overflow: ellipsis